<?xml version="1.0"?>
<!--
/**
 * Klever Tech Solution
 * Duplicate Order Prevention Module
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <klever_duplicate_order>
            <general>
                <enabled>1</enabled>
                <time_window>30</time_window>
                <check_grand_total>1</check_grand_total>
                <check_customer_email>1</check_customer_email>
                <order_statuses>canceled,closed,payment_review,pending_payment</order_statuses>
                <error_message>You have an incomplete order #%1. Please try completing it with a different payment method instead of placing a new order.</error_message>
            </general>
        </klever_duplicate_order>
    </default>
</config>
